@import 'app/common/styles/mixins/media.scss';

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  align-self: flex-start;

  @include media($min: tablet) {
    width: 28rem;
  }

  @include media($min: tablet-h) {
    width: 38rem;
  }

  @include media(tablet) {
    width: 25rem;
  }

  @include media(mobile) {
    width: 20rem;
  }

  &__text {
    text-align: center;
    color: var(--color-brazowy);
    font-weight: bold;
  }
}