.heading {
  font-family: var(--font-fresh-mango);
  
  &.h1 {
    font-size: var(--font-size-h1);
    line-height: 1.1;
  }

  &.h2 {
    font-size: var(--font-size-h2);
  }

  &.h3 {
    font-size: var(--font-size-h3);
  }
}