@import 'app/common/styles/mixins/media.scss';
@import 'app/common/styles/mixins/vertical-align.scss';

.tiles {

}

// TODO move to separate (partial) component when refactoring
.tile {
  &__cover {
    border-radius: var(--border-radius);
    color: var(--color-white);
    background-image: var(--background-image-url);
    background-position: center;
    background-size: cover;
    height: 30rem;
    padding: 2.4rem;
  }

  &__content {
    display: none;
  }
}