@import 'app/common/styles/mixins/media.scss';
@import 'app/common/styles/mixins/vertical-align.scss';

.rich-numbered-list {
  margin-bottom: 5rem;

  @include media(mobile) {
    background-color: var(--color-lososiowy);
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .wrapper {
    @include vertical-align();

    @include media($min: tablet) {
      background-color: var(--color-lososiowy);
      border-radius: var(--border-radius);
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    @include media($min: tablet-h) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }

  &__kreska {
    &-top {
      display: none;

      @include media($min: tablet-h) {
        display: block;
        margin-left: 25%;
      }
    }

    &-bottom {
      display: none;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 2rem;

      @include media($min: tablet-h) {
        display: block;
      }
    }
  }

  .heading {
    // TODO heading styles to unify (find other instances)
    text-align: center;
    color: var(--color-white);
  }

  &__list {
    @include vertical-align();
    align-items: center;
    gap: 2rem;

    @include media($min: tablet) {
      gap: 1rem;
    }
  }

  &__element {
    border: 1px solid var(--color-white);
    border-radius: var(--border-radius);
    padding: 2.4rem;
    max-width: 77rem;
    display: flex;
    flex-direction: column;

    @include media($min: tablet-h) {
      flex-direction: row;
      gap: 4rem;
    }

    .heading {
      font-size: var(--font-size-h2);
    }

    p {
      color: var(--color-white);
      text-align: center;
      font-weight: 600;

      @include media($min: tablet-h) {
        text-align: left;
      }
    }
  }
}