@import 'app/common/styles/mixins/media.scss';
@import 'app/common/styles/mixins/vertical-align.scss';

.about-me {
  color: var(--color-brazowy);
  text-align: center;
  margin-bottom: 8rem;

  @include media($min: tablet-h) {
    text-align: left
  }

  &__kreska {
    &-top {
      &--mobile {
        @include media($min: tablet-h) {
          display: none
        }
      }

      &--desktop {
        display: none;
        margin-left: 20%;

        @include media($min: hd) {
          margin-left: 25%;
        }

        @include media($min: tablet-h) {
          display: block
        }
      }
    }

    &-middle {
      display: none;
      margin-left: 18%;
      margin-bottom: -2rem;

      @include media($min: tablet-h) {
        display: block;
      }
    }
  }

  .wrapper {
    @include vertical-align();

    @include media($min: tablet-h) {
      gap: 0rem;
    }
  }

  &__top {
    @include vertical-align();

    @include media($min: tablet-h) {
      flex-direction: row;
      align-items: center;
      gap: 12rem;
    }

    @include media($min: laptop) {
      gap: 18rem;
    }

    @include media($min: hd) {
      gap: 18rem;
    }

    .about-me__image {
      @include media($max: tablet) {
        max-height: 45rem;
      }

      @include media($max: 550) {
        max-height: 35rem;
      }

      @include media($max: 360) {
        max-height: 30rem;
      }

      @include media($min: tablet-h) {
        max-height: 46rem;
        max-width: 44rem;
      }
    }
  }

  &__image {
    border-radius: var(--border-radius);
    object-fit: cover;

    &--centered {
      object-position: bottom;
    }
  }

  .header {
    @include vertical-align();
    gap: 1.5rem;
    
    @include media($min: tablet-h) {
      max-width: 44rem;    
    }

    .heading {
      font-family: var(--font-fresh-mango);
      color: var(--color-lososiowy);
    }
  }

  &__bottom {
    @include vertical-align();

    @include media($min: tablet-h) {
      display: grid;
      grid-template-columns: 20% 45% 30%;
    }

    @include media($min: hd) {
      gap: 10rem;
    }

    .about-me__image {
      &:first-child {
        @include media($max: tablet) {
          max-height: 35rem;
        }

        @include media($max: 360) {
          max-height: 25rem;
        }

        @include media($min: tablet-h) {
          max-height: 16rem;
        }

        @include media($min: laptop) {
          max-height: 23rem;
        }
      }

      &:nth-child(3) {
        @include media($max: tablet) {
          max-height: 45rem;
        }
  
        @include media($max: 550) {
          max-height: 35rem;
        }
  
        @include media($max: 360) {
          max-height: 30rem;
        }

        @include media($min: tablet-h) {
          max-height: 47rem;
        }
      }
    }

    p {
      @include media($min: tablet-h) {
        align-self: center;
      }
    }
  }

  &__bottom p,
  p {
    font-weight: 600;
  }
}