@import 'app/common/styles/mixins/media.scss';

.tile {
  position: relative;

  &:hover {
    @include media($min: tablet-h) {
      .tile__cover {
        border: 1px solid var(--color-lososiowy);
        position: relative;
  
        &::after {
          opacity: 1;
        }
  
        .heading {
          color: var(--color-lososiowy);
          transform: translateY(-30rem);
        }
      }
  
      .tile__content {
        opacity: 1;
      }
    }

  }

  @include media($min: tablet-h) {
    width: 100%;
    min-height: 45rem;
  }
  
  &--active {
    .tile__arrow {
      transform: rotate(0deg);
    }
  }

  &__cover {
    border-radius: var(--border-radius);
    color: var(--color-white);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), var(--background-image-url);
    background-position: center;
    background-size: cover;
    height: 30rem;
    padding: 2.4rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 10%;
    grid-template-rows: 1fr auto;
    border: 1px solid transparent;
    transition: transform 0.3s ease-in, border 0.3s ease-in;
    will-change: transform;

    &::after {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      background-color: var(--color-bezowy);
      opacity: 0;
      transition: opacity 0.3s ease-in;
      border-radius: var(--border-radius);
      will-change: opacity;
    }

    @include media($min: tablet-h) {
      min-height: 45rem;
    }

    .heading {
      grid-row: 2;
      align-self: end;
      transition: transform, color, .3s ease-in;
      will-change: transform;
      z-index: 10;

      @include media($min: tablet-h) {
        grid-column: span 2;
        text-align: center;
      }
    }

    .tile__arrow {
      grid-column: 2;
      grid-row: 2;
      align-self: end; 
      justify-self: end;
    }
  }

  &__arrow {
    width: 3rem;
    height: 3rem;
    transform: rotate(180deg);
    transition: transform .1s ease-in;

    @include media($min: tablet-h) {
      display: none;
    }
  }

  &__content {
    display: none;
    padding-bottom: 3.5rem;
    padding-right: 3.5rem;
    padding-left: 5rem;
    padding-top: 8rem;
    margin-top: -4.5rem;
    font-size: var(--font-size-body-regular);
    color: var(--color-brazowy);

    @include media(tablet-h) {
      border: 1px solid var(--color-lososiowy);
      border-radius: var(--border-radius);
    }

    @include media($min: tablet-h) {
      position: absolute;
      top: 10rem;
      display: block;
      opacity: 0;
      transition: opacity 0.3s ease-in;
      will-change: opacity;
    }

    
    ul {
      list-style: initial;
      font-weight: 600;
      line-height: 1.5;
    }

    &--active {
      display: block;
    }
  }
}