@import 'app/common/styles/mixins/media.scss';
@import 'app/common/styles/mixins/vertical-align.scss';

.contact-me {
  display: flex;
  color: var(--color-brazowy);
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 8rem;
  margin-top: 18rem;

  h2 {
    font-family: var(--font-fresh-mango);
    color: var(--color-lososiowy);
  }


  @include media($min: tablet-h) {
    text-align: left
  }

  .wrapper {
    @include vertical-align();
  }

  &__top {
    @include vertical-align();

    @include media($min: tablet-h) {
      flex-direction: row;
      gap: 10rem;
    }
  }

  &__line {
    z-index: -1;
    position: relative;
    top: 14rem;
    left: 17rem;
  }

  &__image {
    border-radius: var(--border-radius);
    width: 100%;
    max-height: 15rem;
    object-fit: contain;

    @include media(tablet) {
      max-height: 15rem;
    }

    @include media($min: tablet-h) {
      width: 30rem;
      height: 28rem;
      max-height: unset;
    }
  }

  .header {
    gap: 0rem;
    @include vertical-align();
    margin-top: -8.5rem; 

    @include media($min: tablet-h) {
      max-width: 44rem;    
    }

    .heading {
      font-family: var(--font-fresh-mango);
      color: var(--color-lososiowy);
    }
  }

  &__bottom {
    @include vertical-align();

    @include media($min: tablet-h) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem;
    }

  
    p {
      @include media($min: tablet-h) {
        align-self: center;
      }
    }
  }

  &__bottom p,
  p {
    font-weight: 600;
    color: var(--color-lososiowy);
    font-size: 2.6rem;   
      
  }
  p {
    display: flex;
    align-items: center;

    a {
      margin-left: 1rem; // dodano
    }
  }
  span {
    display: block; // dodano
    margin-top: -5rem; // dodano
    color: var(--color-brazowy);
    font-size: 2rem; // dostosuj do swoich potrzeb
  }
  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--color-lososiowy);
      img {
        margin-right: 1rem; // dostosuj do swoich potrzeb
      }
    }
  }

}