@import 'app/common/styles/mixins/media.scss';

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--color-lososiowy);
  max-height: 12rem;
  @include media($max: mobile) {
    padding: 2rem;
  }

  .contact-me__image {
    max-height: 12rem;
    margin: 0; 
    padding: 0; 

    @include media($max: mobile) {
      max-height: 4rem;    
    }
  }
}