@import 'app/common/styles/mixins/media.scss';
@import 'app/common/styles/mixins/vertical-align.scss';

.benefits-grid {
  margin-bottom: 5rem;

  .wrapper {
    @include vertical-align();
    align-items: center;
  }

  .heading {
    // TODO heading styles to unify (find other instances)
    text-align: center;
    color: var(--color-lososiowy);
  }

  &__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    row-gap: 5rem;
    width: 100%;

    @include media($min: tablet) {
      flex-flow: row wrap;
      justify-content: center;
      column-gap: 2rem;
    }
  }
}