@import 'app/common/styles/mixins/media.scss';
@import 'app/common/styles/mixins/vertical-align.scss';

.benefits-grid {
  .wrapper {
    @include vertical-align();
 
  }

  h2 {
    text-align: center !important;
    font-family: var(--font-fresh-mango);
    color: var(--color-lososiowy);
  }

  .benefit {
    position: relative !important; 

    img {
      margin: 0 !important; 
    }

    @include media($max: mobile) {
      width: 80% !important; 
      margin: 0 -14px !important; 
    }
  }

  .dot-container {
    z-index: 999;
    display: flex !important; 
    margin: 0 auto !important; 
    gap: 2rem !important; 
    align-items: center !important; 
    height: 2rem !important; 

    @include media($min: tablet-h) {
      visibility: hidden !important; 
      height: 0 !important; 
    }
  }

  &__list {
    z-index: 999;
    padding-left: -10;
    display: flex !important;
    overflow-x: auto !important; 
    scrollbar-width: none !important;
    -ms-overflow-style: none !important; 
    &::-webkit-scrollbar {
      display: none !important; 
    }

    & > * {
      flex: 0 0 auto !important;
      
    }

    @include media($min: tablet-h) {
      overflow: visible !important; 
      display: grid !important;
      grid-template-columns: repeat(3, 1fr) !important;
      column-gap: 14rem !important;
      row-gap: 4rem !important;
    }
  }
}