.mobile-navigation {
  position: relative;
  min-height: 5rem;
  
  .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &__logo {
    max-width: 10rem;
  }

  &__hamburger {
    width: 4rem;
    height: 4rem;
  }

  &__cross {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
  }

  &__dropdown {
    overflow: hidden;
    position: absolute;
    top: -100vh;
    background-color: var(--color-brazowy);
    width: 100vw;
    height: 100vh;
    z-index: 110;
    transition: top 0.3s ease-in;

    .wrapper {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    &--open {
      top: 0;
    }
  }
}